<?
$custom_form_fields = $custom_form_model->fields->scope("live")->all();
$counter = $custom_form_fields->count();
$custom_form->form->value = $form_primval;
?>
<div class='clearfix form_and_content_container'>
  <h3><?=$custom_form_model->title?></h3>
  <?=CmsTextFilter::filter("before_output", $custom_form_model->content)?>
  <div class='form_container clearfix'>
    <?$previous_group = $form_group = false;?>
    <form action="" method="post" class='waxform' enctype="multipart/form-data">
      <?#this field is used as a bot check on the form and will be hidden via js?>
      <fieldset class='check-in'>
        <label for='check-in'>Check in</label>
        <input type="text" class='input_field text_field' name='check-in[<?=date("Y-m-d")?>]' id="check-in" value="">
      </fieldset>
      <?$i=0?>
      <?foreach($custom_form as $col=>$field):?>
        <?if($col):?>
          <?if($fg = $field->bound_data->fg) $form_group = $fg;?>

          <?if($i == 0 || $form_group != $previous_group):?>
            <?if($i != 0):?></fieldset><?endif?>
            <fieldset class='clearfix'>
            <?if($form_group):?><h3 class='form_header'><?=$form_group?></h3><?endif?>
          <?endif?>
          <?$fclass = strtolower(get_class($field));?>
          <?if($fclass == "titleinput"):?>
            <h4><?=$field->label?></h4>
          <?else:?>
            <span class='clearfix wax_form_field <?=$fclass?> <?=$fclass.$col?> wax-field-<?=($field->bound_data->extra_class)?>'>
              <?=$field->render();?>
            </span>
          <?endif?>
          <?if(($i+1) == $counter):?>
          </fieldset>
          <?endif?>

          <?$previous_group = $form_group;?>
          <?$i++;?>
        <?endif?>
      <?endforeach?>
      <fieldset class='clearfix submit'><input type="submit" class='submit_button button submit_input' value='Submit'></fieldset>
    </form>
  </div>
 <?if($custom_form_model->terms_and_conditions):?>
  <div id="terms_and_conditions_<?=$custom_form_model->primval?>" class='form_terms_and_conditions'>
    <?=CmsTextFilter::filter("before_output", $custom_form_model->terms_and_conditions)?>
  </div>
  <?endif?>
</div>